<%= form_with model: [ @menu, @menu.comments.build ] do |form| %>
  
  <p class="form-group">
  <%= form.label :status %><br>
  <%= form.select :status, ['public', 'private', 'archived'], selected: 'public' %>
</p>

  <p class="form-group">
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter, class:"form-control" %>
  </p>
  <p class="form-group">
    <%= form.label :body %><br>
    <%= form.text_area :body, class:"form-control" %>
  </p>
  <p>
    <%= form.submit class:"btn btn-primary" %>
  </p>
<% end %>